{% extends "PolcodeCasperBundle::base.html.twig" %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Invite people to your event - {{ eventToInviteTo.name }}</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>    
{% endblock %}

{% block content %}
    <form class="form-signin" role="form" action="{{ path('send_invitations') }}" method="post" name="invitationSender">
        <select multiple class="form-control" name="userToInvite">
            {% for user in users %}  
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <input type="hidden" value="{{ eventToInviteTo.id }}" name="eventToInviteTo"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send invitations</button>
    </form>
{% endblock %}