{% extends "PolcodeCasperBundle::base.html.twig" %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>{{ singleEvent.name }}</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>    
{% endblock %}

{% block content %}  
    <div class="col-lg-12">
        
        <table class="table table-striped">
        <tr>
            <th scope="row">Name</th>
            <td>{{ singleEvent.name }}</td>
        </tr>
        <tr>
            <th scope="row">Country</th>
            <td>{{ singleEvent.country }}</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td>{{ singleEvent.city }}</td>
        </tr>    
        <tr>
            <th scope="row">Postcode</th>
            <td>{{ singleEvent.postcode }}</td>
        </tr>    
        <tr>
            <th scope="row">Date</th>
            <td>{{ singleEvent.date|date('Y-m-d') }}</td>
        </tr>    
        <tr>
            <th scope="row">Duration</th>
            <td>{{ singleEvent.duration }}</td>
        </tr>    
        <tr>
            <th scope="row">Description</th>
            <td>{{ singleEvent.description }}</td>
        </tr>    
        <tr>
            <th scope="row">Signup by</th>
            <td>{{ singleEvent.signupDeadline|date('Y-m-d') }}</td>
        </tr>     
        
        </table>
        <div id="map-canvas-single"></div>
    </div>         
            
<script>
    showSingleEventMap({{singleEvent.latitude}}, {{singleEvent.longitude}});
</script>            
{% endblock %}

