<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        
        {% block stylesheets %}
            {% stylesheets 
                'bundles/polcodecasper/css/jumbotron-narrow.css' filter='cssrewrite' 
                'bundles/polcodecasper/css/bootstrap.min.css' filter='cssrewrite'
                'bundles/polcodecasper/css/styles.css' filter='cssrewrite'
                'bundles/polcodecasper/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' filter='cssrewrite'%}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        {% block extrascripts %}
              
        {% endblock %}
        
        {% block javascript %}
            {% javascripts 
                'bundles/polcodecasper/js/jquery-1.11.1.min.js' 
                'bundles/polcodecasper/js/bootstrap.min.js' 
                'bundles/polcodecasper/js/scripts.js' 
                'bundles/polcodecasper/js/facebook-sdk.js'
                'bundles/polcodecasper/bower_components/moment/min/moment.min.js'
                'bundles/polcodecasper/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' 
                'https://maps.googleapis.com/maps/api/js?key=AIzaSyC7cwkNfJdNhb9pW8CjmrfDs8jU_5C6PAM' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        

        
        <title>{% block title %}Casper - your event management platform{% endblock %}</title>      
    </head>
  <body>

    <div class="container">
      <div class="header">          
          
        {% block navigation %}          
            <ul class="nav nav-pills pull-right">
                
                <li class="{{ app.request.attributes.get('_route') == 'home_page' ? 'active' }}"><a href="{{ path('home_page') }}">Home</a></li>
                <li class="{{ app.request.attributes.get('_route') == 'public_events' ? 'active' }}"><a href="{{ path('public_events') }}">Public events</a></li>    
                
                {% if app.user %}
                    <li class="{{ app.request.attributes.get('_route') == 'add_event' ? 'active' }}"><a href="{{ path('add_event') }}">Add event</a></li>
                    <li class="{{ app.request.attributes.get('_route') == 'my_events' ? 'active' }}"><a href="{{ path('my_events') }}">My events</a></li>
                    <li class="{{ app.request.attributes.get('_route') == 'logout' ? 'active' }}"><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li class="{{ app.request.attributes.get('_route') == 'register_page' ? 'active' }}"><a href="{{ path('register_page') }}">Register</a></li>
                    <li class="{{ app.request.attributes.get('_route') == 'login_page' ? 'active' }}"><a href="{{ path('login_page') }}">Login</a></li>
                {% endif %}
                                                                  
            </ul>
        {% endblock %}
        
        <h3 class="text-muted">{% block projectName %}Casper{% endblock %}</h3>
        
        
      </div>
        
        {% for flashMessage in app.session.flashbag.get('registration_success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        {% block jumbotron %}
          <div class="jumbotron">
            <h1>Jumbotron heading</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-success" href="{{ path('register_page') }}" role="button">Sign up today</a></p>
          </div>
        {% endblock %}

      <div class="row marketing">
        {% block content %}
            <div class="col-lg-6">
              <h4>Subheading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

              <h4>Subheading</h4>
              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

              <h4>Subheading</h4>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
              <h4>Subheading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

              <h4>Subheading</h4>
              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

              <h4>Subheading</h4>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        {% endblock %}
      </div>

      <div class="footer">
          
         {% block footer %}
            <p>&copy; Casper 2014</p>
         {% endblock %}
         
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>  

